  .divv {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
  }
  .sidebar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: center;
    background-color: rgba(0, 256, 256, 0.8) ;
  }
  .sidebar1 {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 15px;
  }
  .sidebar2{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .base{
    text-align: left;
    padding-left: 60px;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  .base-item{
    margin-bottom: 12px;
  }
  .separator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 1px;
    background-color: black;
  }
  .layers{
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 5px;
  }
  .layers-item{
    margin-bottom: 15px;
  }
  .map {
    margin-left: 15px;
    height: 550px;
    width: 900px;
  }
  .buttons {
    padding-top: 30px;
  }
  .button-item {
    display: block;
    width: 70%;
    margin: auto;
  }
  .type1 {
    margin-top: 20px;
    text-align: center;
  }
  .type2 {
    margin-top: 30px;
    text-align: center;
  }
 .ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
  }
  .ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  .ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
  }
  .ol-tooltip-measure:before,
  .ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  .ol-tooltip-static:before {
    border-top-color: #ffcc33;
  }
  .bClass {
    text-decoration: none;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: darkgray;
    color: #fff;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
  }